<%- partial('../partials/navbar.ejs') %>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <figure class="image">
                    <img src="<%= qpon.image %>">
                </figure>
            </div>
            <div class="column is-one-third">
                <div class="content">
                    <ul>
                        <li><b><%= qpon.restaurant %></b></li>
                        <li><b><%= qpon.title %></b></li>
                        <li><b>Coins: </b><%= qpon.coins %>
                        <li><b>Address: </b><%= qpon.mall %>, <%= qpon.region %></li>
                        <li><b>Expiry Date: </b><%= qpon.expire %></li>
                        <li><%= qpon.detail %></li>
                    </ul>
                    <% if (req.session.uid) { %>
                    <% if (req.session.usertype == "member") { %>
                    <% if (qpon.owners.some(user => user.id == req.session.uid)) { %>
                    <div>You have redeemed this coupon</div>
                    <% } else { %>
                    <button class="button" onclick='redeem("<%= qpon.id %>")'>Redeem</button>
                    <% } %>
                    <% } else { %>
                    <table>
                        <tr>
                            <td>
                                <form action="/qpon/update/<%= qpon.id %>"><button
                                        class="button is-link">Update/Delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="/qpon/owners/<%= qpon.id %>"><button class="button">Redeemed
                                        Users</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <% } %>
                    <% } else { %>
                    <button class="button" onclick='location.assign("/user/login")'>Redeem</button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function redeem(qponId) {
        var response = await fetch("/qpon/" + qponId, { method: "POST" });
        if (response.ok) {
            alert("Redemption successful!");
            location.assign("/qpon/my_coupons");
        } else {
            var json = await response.json();
            alert(json);
        }
    }

</script>