<%- partial('../partials/navbar.ejs') %>

<section class="section">
    <div class="container">
        <h1 class="title">Q-Pon</h1>
        <h2 class="subtitle">Redeem your coins for dining coupons</h2>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column" name="hk-col">
                <h2 class="title is-4">Hong Kong Island</h2>
                <% hkQpons.forEach( function(qpon) { %>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/qpon/detail/<%= qpon.id %>"><img src="<%= qpon.image %>"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="/qpon/detail/<%= qpon.id %>"><b><%= qpon.restaurant %></b></a>
                        <div><%= qpon.detail %></div>
                        <br>
                        <div>Coins: <%= qpon.coins %></div>
                    </div>
                </div>
                <br>
                <% }); %>
            </div>
            <div class="column" name="kl-col">
                <h2 class="title is-4">Kowloon</h2>
                <% klQpons.forEach( function(qpon) { %>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/qpon/detail/<%= qpon.id %>"><img src="<%= qpon.image %>"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="/qpon/detail/<%= qpon.id %>"><b><%= qpon.restaurant %></b></a>
                        <div><%= qpon.detail %></div>
                        <br>
                        <div>Coins: <%= qpon.coins %></div>
                    </div>
                </div>
                <br>
                <% }); %>
            </div>
            <div class="column" name="nt-col">
                <h2 class="title is-4">New Territory</h2>
                <% ntQpons.forEach( function(qpon) { %>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/qpon/detail/<%= qpon.id %>"><img src="<%= qpon.image %>"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="/qpon/detail/<%= qpon.id %>"><b><%= qpon.restaurant %></b></a>
                        <div><%= qpon.detail %></div>
                        <br>
                        <div>Coins: <%= qpon.coins %></div>
                    </div>
                </div>
                <br>
                <% }); %>
            </div>
        </div>
    </div>
</section>