<%- partial('../partials/navbar.ejs') %>
<section class="section">
    <div class="container">
        <h1 class="title">Q-Pon</h1>
        <h2 class="subtitle">Redeem your coins for dining coupons</h2>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">
                <div class="subtitle"><b>My Coupons</b></div>
            </div>
            <div class="column">
                <div class="subtitle"><b>Current Balance: </b><%= coins %></div>
            </div>
        </div>
        <div class="columns is-multiline">

            <% qpons.forEach(function (qpon) { %>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/qpon/detail/<%= qpon.id %>"><img src="<%= qpon.image %>"></a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <a href="/qpon/detail/<%= qpon.id %>"><b><%= qpon.restaurant %></b></a>
                        <div><%= qpon.detail %></div>
                        <br>
                        <div>Expiry Date: <%= qpon.expire %></div>
                    </div>
                </div>
                <br>
            </div>
            <% }) %>
        </div>
    </div>
</section>