<%- partial('../partials/navbar.ejs') %>

<form action="/qpon/update/<%= qpon.id %>" method="POST">

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" name="title" value="<%= qpon.title %>" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Restaurant</label>
                <div class="control">
                    <input class="input" type="text" name="restaurant" value="<%= qpon.restaurant %>" required>
                </div>
            </div>

            <div class="columns">
                <div class="column field">
                    <label class="label">Region</label>
                    <div class="control">
                        <div class="select">
                            <select name="region" onchange="regionSelected(this.value)">
                                <option>Select region</option>
                                <option value="HK">Hong Kong Island</option>
                                <option value="KL">Kowloon</option>
                                <option value="NT">New Territory</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="column field">
                    <label class="label">Mall</label>
                    <div class="control">
                        <div class="select">
                            <select id="mall" name="mall" disabled>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="input" type="text" name="image" value="<%= qpon.image %>" required>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Quota</label>
                        <div class="control">
                            <input class="input" type="number" name="quota" min=0 value="<%= qpon.quota %>" required>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Coins</label>
                        <div class="control">
                            <input class="input" type="number" name="coins" min=0 value="<%= qpon.coins %>" required>
                        </div>
                    </div>

                </div>

            </div>
            <div class="field">
                <label class="label">Expiry Date</label>
                <div class="control">
                    <input class="input" type="date" name="expire" value="<%= qpon.expire %>" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Detail</label>
                <div class="control">
                    <textarea class="textarea" name="detail"><%= qpon.detail %></textarea>
                </div>
            </div>

            <div class="columns">
                <div class="column field">
                    <div class="control">
                        <button class="button is-link" type="submit">Update</button>
                    </div>
                </div>

                <div class="column field">
                    <div class="control">
                        <button class="button is-danger" type="submit" formaction="/qpon/delete/<%= qpon.id %>"
                            formmethod="POST">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    var hkMalls = ["ifc", "Taikoo Shing"];
    var klMalls = ["Festival Walk", "Harbour City"];
    var ntMalls = ["New Town Plaza", "Maritime Square"];

    function regionSelected(region) {
        var mallElem = document.getElementById("mall");
        mallElem.options.length = 0;

        switch (region) {
            case "HK":
                hkMalls.forEach(function (item) {
                    addOption(item, mallElem);
                });
                mallElem.disabled = false;
                break;
            case "KL":
                klMalls.forEach(function (item) {
                    addOption(item, mallElem);
                });
                mallElem.disabled = false;
                break;
            case "NT":
                ntMalls.forEach(function (item) {
                    addOption(item, mallElem);
                });
                mallElem.disabled = false;
                break;
            default:
                mallElem.disabled = true;
        }
    }

    function addOption(item, elem) {
        var option = document.createElement("option");
        option.text = item;
        option.value = item;
        elem.add(option);
    }
</script>

<!-- Set values for dropboxes -->
<script>
    document.querySelector("select[name='region'] option[value='<%= qpon.region %>']").setAttribute("selected", "");
    regionSelected("<%= qpon.region %>")
    document.querySelector("select[name='mall'] option[value='<%= qpon.mall %>']").setAttribute("selected", "");
</script>